.profile {
	top: 3em;
	border: 1px solid dimgray;
	border-radius: 8px;
	color: #008080;
	max-width: fit-content;
	background-color: white;
	right: 1em;
	top: 3.5em;
}

.profile-btn {
	border-radius: 7px;
	padding: 4px 8px;
}
.profile-btn:hover {
	color: white;
	cursor: pointer;
	background-color: #008080;
}

.logout {
	color: red;
	cursor: pointer;
}
.logout:hover {
	color: white;
	background-color: red;
}

.logo-text {
	font-size: x-large;
	font-weight: 600;
  cursor: pointer;
}
.profile-container{
  max-width: fit-content;
}
