.profile {
	top: 3em;
	border: 1px solid dimgray;
	border-radius: 8px;
	color: #008080;
	max-width: fit-content;
	background-color: white;
	right: 1em;
	top: 3.5em;
}

.profile-btn {
	border-radius: 7px;
	padding: 4px 8px;
}
.profile-btn:hover {
	color: white;
	cursor: pointer;
	background-color: #008080;
}

.logout {
	color: red;
	cursor: pointer;
}
.logout:hover {
	color: white;
	background-color: red;
}

.logo-text {
	font-size: x-large;
	font-weight: 600;
	cursor: pointer;
	color: #ffea00 !important;
}
.profile-container {
	max-width: fit-content;
}

.animation-container {
	perspective: 1000px;
}

/* 2. Define the animation steps. */
@keyframes flip-horizontal {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(180deg);
	}
}

/* 3. Apply the animation to your image. */
.coin-flip-effect {
	/* These are the essential properties for the animation */
	animation-name: flip-horizontal;
	animation-duration: 0.6s;
	animation-iteration-count: 2;
	animation-timing-function: ease-in;
}
